//- author: Harry Collet
//- date: 4/18/19
//- description: This is the page that displays details about the user. It can only be accessed if the user
//-              is logged in. It extends layout as well

extends mainNav

block append vars
    - var currentPage = 'my account'

block append styles
    link(rel = 'stylesheet' href='/styles/userInfo.css')

block content
    .userInfo
        h1#header #{curUser.username}
        .accountInfo
            h3.title User Information
            .info 
                span Full Name: 
                | #{curUser.fullName}
            .info 
                span Email:     
                | #{curUser.email}
            .info 
                span Username:  
                | #{curUser.username}
        .accountPolls
            h3.title#user-polls User Polls
            ul#poll-list
                each poll in user_pollList
                    li.poll
                        a(href='/simpoll/polls/' + poll._id + '/complete')
                            h3.poll-name #{poll.name}
                    .space
